body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	/* background-image: url('./assets/Survivor-46-Jeff-Probst.jpg'); */
	background-image: url('./assets/justin-jesus.jpeg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat; /* Prevent background from repeating */
	background-attachment: fixed;
	color: #fff;
	position: relative;
	min-height: 100vh;
}

footer {
	text-align: center;
	padding: 0px;
	background-color:#27270D;
	border-top: 2px solid #ccc;
	position: absolute;
	width: 100%;
	bottom: 0;
}

footer p {
	margin: 0;
}

h1 {
	text-align: center;
	color: #DEAE4A;
	text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); /* Adjust values as needed */
}

.team-container {
	display: flex;
	justify-content: space-around;
	margin: 20px;
	margin-bottom: 0px;
	padding-bottom: 100px;
}

.team {
	text-align: center;
	border: 2px solid #DEAE4A; /* #ccc; /* Add a border around each team */
	padding: 10px; /* Add some padding for spacing */
	border-radius: 10px; /* Optional: Add rounded corners for aesthetics */
	margin: 10px; /* Add some space between teams */

	 /* Apply a blurred background */
	 backdrop-filter: blur(10px);
	 background-color: #534F3F90; /* Adjust the alpha value for transparency */
}

.team-score {
	font-weight: bold;
	margin-bottom: 10px;
}


.player {
	position: relative;
	display: inline-block;
	margin: 10px;
	text-align: center;
}

.player img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
}

.tribe-orange {
	border: 5px solid #d99905;
}

.tribe-purple {
	border: 5px solid #ad5ed2;
}

.tribe-green {
	border: 5px solid #6dcca0;
}

.player span {
	display: block;
	margin-top: 5px; /* Add some spacing between the image and the name */
}

.eliminated {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: red;
	font-size: 160px;
	padding-bottom: 20px;
}

.medicalEvac {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: red;
	font-size: 70px;
	padding-bottom: 20px;
}

.advantage-icon {
	font-size: 17px;
	text-align: center;
}

@media only screen and (max-width: 600px) {
	.team-container {
			text-align: center;
			display: block;
	}

	.player {
			text-align: center;
			margin: 10px auto;
			margin-right: 8%;
			margin-left: 8%;
	}

	.player img {
			width: 80px;
			height: 80px;
			border-radius: 50%;
			object-fit: cover;
			margin-bottom: 5px;
	}

	.eliminated {
			font-size: 120px;
	}
}